NET "clk_in" LOC = P126;
NET "reset_in" LOC = P124;
NET "io_inputs[0]" LOC = P123;
NET "io_inputs[1]" LOC = P121;
NET "io_inputs[2]" LOC = P120;
NET "io_inputs[3]" LOC = P132;
NET "io_inputs[4]" LOC = P134;
NET "io_inputs[5]" LOC = P138;
NET "io_inputs[6]" LOC = P140;
NET "io_inputs[7]" LOC = P142;
NET "io_inputs[8]" LOC = P2;
NET "io_inputs[9]" LOC = P6;
NET "io_inputs[10]" LOC = P8;
NET "io_inputs[11]" LOC = P10;
NET "io_inputs[12]" LOC = P12;
NET "io_inputs[13]" LOC = P15;
NET "io_inputs[14]" LOC = P17;
NET "io_inputs[15]" LOC = P22;
NET "io_inputs[16]" LOC = P24;
NET "io_inputs[17]" LOC = P27;
NET "io_inputs[18]" LOC = P30;
NET "io_inputs[19]" LOC = P33;
NET "io_inputs[20]" LOC = P35;
NET "io_inputs[21]" LOC = P56;
NET "io_inputs[22]" LOC = P102;
NET "io_inputs[23]" LOC = P105;
NET "io_inputs[24]" LOC = P51;
NET "io_inputs[25]" LOC = P44;
NET "io_inputs[26]" LOC = P48;
NET "io_inputs[27]" LOC = P46;
NET "io_inputs[28]" LOC = P75;
NET "io_inputs[29]" LOC = P79;
NET "io_inputs[30]" LOC = P81;
NET "io_inputs[31]" LOC = P83;
NET "io_outputs[0]" LOC = P119;
NET "io_outputs[1]" LOC = P118;
NET "io_outputs[2]" LOC = P117;
NET "io_outputs[3]" LOC = P116;
NET "io_outputs[4]" LOC = P115;
NET "io_outputs[5]" LOC = P114;
NET "io_outputs[6]" LOC = P112;
NET "io_outputs[7]" LOC = P111;
NET "io_outputs[8]" LOC = P131;
NET "io_outputs[9]" LOC = P133;
NET "io_outputs[10]" LOC = P137;
NET "io_outputs[11]" LOC = P139;
NET "io_outputs[12]" LOC = P141;
NET "io_outputs[13]" LOC = P1;
NET "io_outputs[14]" LOC = P5;
NET "io_outputs[15]" LOC = P7;
NET "io_outputs[16]" LOC = P9;
NET "io_outputs[17]" LOC = P11;
NET "io_outputs[18]" LOC = P14;
NET "io_outputs[19]" LOC = P16;
NET "io_outputs[20]" LOC = P21;
NET "io_outputs[21]" LOC = P23;
NET "io_outputs[22]" LOC = P26;
NET "io_outputs[23]" LOC = P29;
NET "io_outputs[24]" LOC = P32;
NET "io_outputs[25]" LOC = P34;
NET "io_outputs[26]" LOC = P55;
NET "io_outputs[27]" LOC = P101;
NET "io_outputs[28]" LOC = P104;
NET "io_outputs[29]" LOC = P50;
NET "io_outputs[30]" LOC = P43;
NET "io_outputs[31]" LOC = P47;


NET "uart_rx" LOC = P85;
NET "uart_tx" LOC = P84;

# PlanAhead Generated IO constraints 

NET "reset_in" PULLUP;
NET "io_inputs[0]" PULLUP;
NET "io_inputs[1]" PULLUP;
NET "io_inputs[2]" PULLUP;
